.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Store docker-compose.local.yaml volumes here.
/data

# database
local.db
local.db-journal
